{% extends 'base.html'%}

{%block content%}
<h4>Student Details</h4>
<br>
<a href="insert">Add New</a>

<br><br>
<table border="1">
    <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
            <td>address</td>
            <td>action</td>

        </tr>
    </thead>
    <tbody>
        {%for student in stu %}
        <tr>
            <td>{{student.pk}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.address}}</td>
            <td><a href="update/{{student.pk}}">Edit</a><br><a href="delete/{{student.pk}}">Delete</a></td>

        </tr>
        {%endfor%}
    </tbody>

</table>
{%endblock%}